* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	font-weight: 100;
	font-size: 1.8rem;
	font-family: "Courier New";
	color: #202840;
	background-color: #f2f2f2;
}
