* {
	box-sizing: border-box;
}

html,
body {
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-weight: bolder;
	font-size: 1.8rem;
	font-family: "Courier New";
	color: #202840;
	background-color: #f2f2f2;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 10% 80% 10%;
}

.grid-container {
	display: grid;
	grid-row: 2;
	grid-column: 2;
}

.grid-item {
	display: flex;
	justify-content: center;
	align-items: center;
}
