#header {
	height: 150px;
	display: grid;
	grid-template-columns: 200px auto 200px;
	border-bottom: 3px solid #202840;
}

#header * {
	display: flex;
	justify-content: center;
	align-items: center;
}

#content {
	display: grid;
	grid-column: 10% 80% 10%;
}

#footer {
}
